In [1]:
from bs4 import BeautifulSoup
import requests

In [4]:
url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_6?crid=3JJ87SJKW7XWL&dib=eyJ2IjoiMSJ9.0_6zq-uwL28T8elXT2mpt6NnXCG8ymW3A0Y4LyvFWDjwyjov2lIHXKTri5nyM4stiduInXMrf2_9xypdNsf3zknSiCbKLS0jn4K0m4UkVYHqR5yKWgHTCFI7yzov_gL9v25mJOqXOpDEceGRhObpPNstA16F1yrDZDBe7PoEQysPvaL6C6GvBrbexM8Up7D9h4n1H7mjMdbcexsIM2OBssOupPmihq6rnYmR1CUfh4-QGSuUGSs7SZxunAsTsGvyZpEWw6d3vSfo2bCkFzY1MkdXQUwa8WLwMmouvGxreVM.Y9cY3dmlk6x83p8hpknIhX6HlmsrtPDDI2RAplmnjT8&dib_tag=se&keywords=data%2Banalyst%2Btshirt&qid=1715447148&sprefix=%2Caps%2C75&sr=8-6'
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36",
           "Accept-Language": "ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7,ja;q=0.6"}
response = requests.get(url, headers=headers)
print(response)

<Response [200]>

In [5]:
soup = BeautifulSoup(response.text, 'lxml')
# print(soup)

In [18]:
title_element = soup.select_one('#productTitle')
title = title_element.text.strip()
print(title)

Funny Got Data MIS Data Systems Business Analyst T-Shirt

In [19]:
price = soup.select_one('span.a-price')
price = price.text
print(price)

 $16.99

In [8]:
import datetime

today = datetime.date.today()
print(today)

2024-05-16

In [9]:
import csv

header = ['Title', 'Price', 'Date']
data = [title, price, today]

# with open('AmazoneScrapingDataset.csv', 'w', newline='', encoding='UTF8') as f:
#     writer = csv.writer(f)
#     writer.writerow(header)
#     writer.writerow(data)

In [10]:
import pandas as pd

df = pd.read_csv(r"C:\Users\comra\Jupyter Project\Alex_project\AmazoneScrapingDataset.csv")

df

                                                Title    Price        Date
0   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
1   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
2   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
3   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
4   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
5   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
6   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
7   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
8   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
9   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-16
10  Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-16
11  Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-16
12  Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-16

##### ※ code to append new data into the existing csv file

In [11]:
with open('AmazoneScrapingDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

##### ※ creating a function to carry out the above codes

In [12]:
def check_price():
    url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_6?crid=3JJ87SJKW7XWL&dib=eyJ2IjoiMSJ9.0_6zq-uwL28T8elXT2mpt6NnXCG8ymW3A0Y4LyvFWDjwyjov2lIHXKTri5nyM4stiduInXMrf2_9xypdNsf3zknSiCbKLS0jn4K0m4UkVYHqR5yKWgHTCFI7yzov_gL9v25mJOqXOpDEceGRhObpPNstA16F1yrDZDBe7PoEQysPvaL6C6GvBrbexM8Up7D9h4n1H7mjMdbcexsIM2OBssOupPmihq6rnYmR1CUfh4-QGSuUGSs7SZxunAsTsGvyZpEWw6d3vSfo2bCkFzY1MkdXQUwa8WLwMmouvGxreVM.Y9cY3dmlk6x83p8hpknIhX6HlmsrtPDDI2RAplmnjT8&dib_tag=se&keywords=data%2Banalyst%2Btshirt&qid=1715447148&sprefix=%2Caps%2C75&sr=8-6'
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36",
               "Accept-Language": "ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7,ja;q=0.6"}
    response = requests.get(url, headers=headers)
    
    soup = BeautifulSoup(response.text, 'lxml')
    
    title_element = soup.select_one('#productTitle')
    title = title_element.text.strip()
    
    price = soup.select_one('span.a-price')
    price = price.text
    
    import datetime
    today = datetime.date.today()
    
    import csv
    header = ['Title', 'Price', 'Date']
    data = [title, price, today]
    
    with open('AmazoneScrapingDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

##### ※ creating automating procedure through time.sleep( )

In [13]:
import time

In [29]:
while(True):
    check_price()
    time.sleep(5)    # every 5 sec, check_price function is carried out

KeyboardInterrupt:

In [22]:
df = pd.read_csv(r"C:\Users\comra\Jupyter Project\Alex_project\AmazoneScrapingDataset.csv")

df

                                                Title    Price        Date
0   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
1   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
2   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
3   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
4   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
5   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
6   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
7   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
8   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-13
9   Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-16
10  Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-16
11  Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-16
12  Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-16
13  Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-16
14  Funny Got Data MIS Data Systems Business Analy...   $16.99  2024-05-16